@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');




body{
  margin:0;
  
}

* {
  box-sizing: border-box;
}


html,
body{
  font-family:'Teko', sans-serif;
  margin: 0;
}


button{
  background-color: white;
  padding: 2px;
  margin: 3px;
  
}